
body {
	background-color: #D9B166;
	font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
	font-weight: 200;
}

main {
	max-width: 35rem;
	margin: auto;
}

#title, #description {
	text-align: center;
	font-weight: 400;
}

label {
	display: block;
}

label.directions {
	margin-bottom: 0.5rem;
}

form > div {
	margin: 1rem 0;
	padding: 1rem;
	background-color: #A0D9D9;
	box-shadow: none;
	transition: box-shadow 0.25s ease-in-out;
}

main div:hover {
	box-shadow:  0 0 .5rem rgba(0, 0, 0, 0.75);
}

input {
	padding: 0.5rem;
}

input:focus, textarea:focus {
	outline: 2px solid #A62D2D;
	border-color: transparent;
}

#name, #email {
	width: 100%;
	box-sizing: border-box;
}

#number {
	width: 4rem;
}

select {
	padding: 0.5rem;
	width: 100%;
}

textarea {
	width: 100%;
	padding: 0.5rem;
	box-sizing: border-box;
}

#submit {
	display: block;
	margin: auto;
	border: none;
	background-color: #A62D2D;
	color: white;

	transition: background-color .4s ease-in-out;
}

#submit:hover {
	background-color: red;
}

input[type='radio'] {
	background-color: #A62D2D;
}