.red {
    color: red;
}

.gray {
    color: gray;
}

.grey {
    color: gray;
}

.small {
    font-size: small;
}

.ap-problems {
    /*display: inline-block;*/
    padding-left: 0.5rem;
    margin-left: 0.25rem;
    border-left: 1px solid grey;
    color: grey;
}

.teal-box {
    border: solid 3px #01aaaf;
    border-radius: 10px;
    padding: 0.05rem 0.2rem;
}

blockquote {
    letter-spacing: inherit;
    font-size: inherit;
    // font-style: inherit;
    color: #333;
    background-color: #fafafa;
    border-left-color: #999;
}

.post-list-heading {
    font-size: revert;
    border-top: 1px solid grey;
}

.post-list h3 .post-link {
    font-size: revert;
}

.footnotes {
	border-top: 1px solid #555;
}

.lesson-dates {
    border-bottom: 2px solid #555;
    padding-bottom: 1rem;
    margin-top: -0.5rem;
}

hr {
    border: 1px solid #555;
    margin-bottom: 1rem;
}

.bell-schedules-table td:nth-child(2n+1), .bell-schedules-table th:nth-child(2n+1) {
	border-right-width: 5px;
}

.next-quiz::before {
    content: "!";
    font-weight: bold;
    color: red;
    padding-right: 0.25rem;
}

blockquote.definition {
    border: none;
    background-color: #eeeed0;
    font-style: normal;
    padding: 1rem;
}

blockquote.definition h3, blockquote.definition h4, blockquote.definition h5 {
    font-size: 1rem;
    font-weight: bold;
    border-bottom: 1px solid gray;
}

h2#assignment, h2#additional-resources {
    font-size: 20px;
    font-weight: normal;
}

.v {
    color: hsl(330, 50%, 35%);
}
