:root {
  background: black;
}

#container {
  display: flex;
  align-items: center;
  height: 90vh;
}

#timer {
  color: rgb(0, 255, 0);
  font-family: monospace;
  font-weight: bold;
  font-size: 10vw;
  margin-left: auto;
  margin-right: auto;
  width: 8ch;
  overflow-wrap: break-word;
}
