/* hide that awful red border that appears around links */
:focus {
	outline: none !important;
	transition: none !important;
	animation: none !important;
}

/* borders between headlines */
.ui-widget.app:not(.flexpage):not(.announcements):not(.upcomingevents) div.ui-article {
	border-bottom: 1px solid #ccc;
	padding: 20px 0 !important;
}

.ui-widget.app:not(.flexpage):not(.announcements):not(.upcomingevents) li:last-child div.ui-article {
	border-bottom: none;
}

/* end of loop for upcoming events */
.ui-widget.app.upcomingevents .cs-article-slider li[data-index="7"] {
	border-right: 1px solid #ccc;
}