/* hide that awful red border that appears around links */
:focus {
  outline: none !important;
  transition: none !important;
  animation: none !important;
}

/* borders between headlines */
/* breaks slider version */
/*.ui-widget.app:not(.flexpage):not(.announcements):not(.upcomingevents)
  div.ui-article {
  border-bottom: 1px solid #ccc;
  padding: 20px 0 !important;
}*/

.ui-widget.app:not(.flexpage):not(.announcements):not(.upcomingevents)
  li:last-child
  div.ui-article {
  border-bottom: none;
}

/* end of loop for upcoming events */
.ui-widget.app.upcomingevents .cs-article-slider li[data-index="0"] {
  border-left: 1px solid #ccc;
}
.ui-widget.app.upcomingevents .cs-article-slider li:first-child {
  border-left: none;
}

/* dates now same width for consistent wrapping */
/* still an issue when months are different */
.ui-article-title.sw-calendar-block-date .joel-date {
  width: 60px;
}

/* faculty web links  */
#staff-resources {
  columns: 2 410px;
  text-align: center;
}

#staff-resources p {
  margin-top: 0;
}

#staff-resources img {
  box-shadow: 0 0 5px #888;
  border: 0;
  max-width: 100%;
  height: auto;
}

#staff-resources img:hover {
  box-shadow: 0 0 8px #888;
}

/* remove extra lines between files in file library */
.file-library .ui-widget-detail li {
  border-bottom: none;
}

/* remove search bar for board members and last divider */
#sw-module-136540 .ui-widget-detail.searchdiv.directory-filter > :not(.staff) {
  display: none;
}

#sw-module-136540
  .ui-widget-detail.searchdiv.directory-filter
  > div:last-child {
  border-bottom: none;
}

/* remove ridiculously large margin-bottom from heading app */
.ui-widget.app.heading.detail .ui-widget-detail > * {
  margin-bottom: -48px;
}

/*fix copy ical link button */
a.ui-btn-toolbar span {
  background-image: none;
  background-color: #001f8f;
  margin-left: inherit;
  color: white;
  padding: 0.25rem 0.5rem;
  height: auto
}

/* fix teacher site directory poor positioning */
.sw-directory-alphabetical-filter-link {
  float: none;
  display: inline;
}


/*
Staff directory doesn't support titles.
Putting a title in first name breaks the initials avatar.
Can't embed code since Blackboard loads a separate page on search.
This is absurd.
*/

div[aria-label="Jamil Maroun"] li.staffname::before {
  content: "Dr. ";
}